doctype html
html
	head
		meta(charset='utf-8')
		title='simple-project'
		
		link(rel='stylesheet', href='lib/new-buttons/css/new-buttons.min.css')
		link(rel='stylesheet', href='lib/o-simple-grid/css/grid.min.css')
		link(rel='stylesheet', href='lib/typographic-styles/css/typographic-styles.min.css')
		
		link(rel='stylesheet', href='css/style.css')
		
	body
		div.wrapper
			h1.title='Simple Project'
			h2='this is a starter project for any site you want'
			p='it rocks'
			div.container
				div.col-5
					h4='some text'
				div.col-1
					h4='some more...'
			footer.container
				p='owebdesign'